<% provide(:title, 'About Us') %>
<br>
<br>

<h1>About Us</h1>
<br>
<div class="row">
	<div class="span8 offset2">
<body class.lead>
<strong>Fence Dweller</strong> is a free service that allows you to post a dilemma, a question, a query or  poll and get quick and dirty feedback from your Twitter followers, and their Twitter followers, and their Twitter followers, and then the world.
<br>
<br>
When you need a fast read on any situation, you don't have time or money for a fancy poll with deep stats and careful selection, <strong>Fence Dweller</strong> is quick and dirty and it won't lie. 
<br>
<br>
So when you need to know the Twitter temperature for any dilemma, come to <strong>FenceDweller</strong>. You can sign up to post in seconds and its all free. We'll help you publish your dilemma to Twitter and then sit back and watch as your followers respond with two easy clicks. We'll let you know how voting is going and even let you send nudges to get people off the <strong>Fence</strong> and making a decision. 
</div>
</div>
</body>
