<% provide(:title, 'About') %>
<br><br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
	
      <h1>About</h1>

    </div>
    <div class="span6">
  	<body class.lead><br>
	
If you need a fast read on a situation but don't have time for a fancy survey.<br><br>
If you trust your Twitter followers to tell you straight and tell you fast.<br><br>

<strong>Fence Dweller</strong> is a free service that allows you to post a dilemma, a question, a query and get quick and dirty feedback from your Twitter followers ... and maybe even their Twitter followers ... and their Twitter followers  ... and then the world.
<br>
<br>
So when you need to know the Twitter temperature for any dilemma, without reading through thousands of tweets, come to <strong>FenceDweller</strong>. You can sign up to post in seconds and its all free. We'll help you publish your dilemma to Twitter, then sit back and watch as your followers respond with two easy clicks. You can see how voting is going and when the time's up and voting stops. Then you either go with the majority decision or go your own way, either way you are off the fence. <br><br>

<strong>Fence Dweller</strong> - its fast and free, it might be brutal, but it won't lie.
</body>
</div>
</div>
</div>


