<% provide(:title, 'Options') %>
<br>
<br>
<div class="row">
  <div class="span5 offset5">
<h1>Thanks for voting</h1>
<br>
<b>Would you like to create your own dilemma? <br>Sign up now and get going.</b>
<br>
<br>
<br>
<%= link_to "Sign Me Up", new_user_path, :class =>'btn btn-mini btn-primary' %>
<br>
<br>
</body>
</div>
</div>
