<% provide(:title, 'Options') %>
<br>
<br>
<div class="row">
  <div class="span6 offset3">
<h1>Thanks for voting</h1>
<br>
<h3><i>Would you like to create your own dilemma? Sign up now and get going.</i></h3>
<br>
<%= link_to "Sign Me Up", users_new_path, :class =>'btn btn-mini btn-primary' %>
<br>
<br>
</body>
</div>
</div>
