<% provide(:title, 'Contact') %>
<br>
<br>
<center>
<h1>Fence Dweller</h1>
<br>
<h3><i>Help</i></h3>
<br>
<%= link_to "Tell us your dilemma", new_dilemma_path  %>
<br>
<br>
<br>
<%= link_to "Search for a dilemma", dilemmas_path  %>
</center>
</body>