<% provide(:title, 'Contact') %>
<br>
<br>

<h1>Contact FenceDweller</h1>
<br>
<div class="row">
	<div class="span8 offset4">
<body class.lead>
If you would like to reach the <strong>Fence Dweller</strong> team <br>
with comments, suggestions or concerns <br>
please email us at: <br>
<br>
<strong>admin@fencedweller.com</strong> 
</div>
</div>
</body>