<% provide(:title, 'Contact') %>
<br><br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
	
<h1>Contact</h1>
    
</div>
    <div class="span6">
  	<body class.lead><br>
	
If you would like to reach the <strong>Fence Dweller</strong> team with comments,<br> suggestions or concerns please email us at: <br>
<br>
<strong>admin@fencedweller.com</strong> 
</body>
</div>
</div>
</div>