<% provide(:title, 'Help') %>
<br>
<br>
<h1>Help</h1>
<br>
<div class="row">
	<div class="span8 offset4">
<body class.lead>
<strong>Fence Dweller</strong> is simple to use, but if you have ideas to make it even quicker email us at admin@fencedweller.com.
<br>
<br>
<ol>
<li>Create your account, we only need your basic details and its completely free.<br></li>
<li>Post your dilemma, remember to phrase it as a Yes/No question. <em>In the future we'll be bringing you other question answer formats so that you can post more complex dilemmas with multiple choice answers.</em> <br></li>
<li>Decide how long you want to keep your dilemma open to voting, an hour, a day, a month..... a year!<br></li>
<li>Approve <strong>Fence Dweller</strong> to Tweet a link to your dilemma so your followers can respond.<br></li>
<li>Sit back and wait.<br></li>
<li>If you are too excited to wait, watch your results coming in on <strong>Fence Dweller</strong>. It will show you who is voting, but not how they voted, <em>because everyone likes to keep somethings private</em>.<br></li>
<li>As the clock ticks <strong>Fence Dweller</strong> can post Tweet updates saying how many people have voted. <em>This will encourage others to vote, but we'll only Tweet if you want us to, and not so often it becomes annoying!</em><br></li>
<li>When the time is up the dilemma will close for voting and the outcome will be sent to you and, <em>if you choose </em>, Tweeted to your followers.</li>
</ol>
<br>
 <%= link_to "Sign Me Up", users_new_path, class: "btn btn-large btn-primary" %>
</div>
</div>
</body>