<% provide(:title, 'Contact') %>
<br><br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
	
		<h1>Users</h1>
    
	</div>
    <div class="span6">

<br>

<%= will_paginate %>

<ul class="users">
 	<% @users.each do |user| %>
	    <%= render user %>
	  <% end %>
</ul>

<%= will_paginate %>

</div>
</div>