<div class="row">
  <div class="span8 offset2">

<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.fullname, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>

</div>
</div>