<% provide(:title, @user.fullname) %>
<h1><%= @user.fullname %></h1>

<div class="row">
  <div class="span3 offset5">
    <%= @user.fullname %>, <br>
<%= @user.email %>

	<br>
	<br>
	<br>
		  <%= link_to "Get Started", new_dilemma_path, class: "btn btn-large btn-primary" %>

  </div>
</div>
