<div id="footer">
	<style> {background: #000000; color: white; font-size:50%}  </style>
	<br>
	<br>
	<br>
	<%= link_to "About", static_pages_about_path  %>
	<%= link_to "Help", static_pages_help_path  %>
	<br>
	<br>	
  Copyright © 2012, Fence Dweller. All rights reserved.
</div>