<% provide(:title, 'Home') %>
<br>

<div class="container-fluid">
  <div class="row-fluid">

<div class="center hero-unit">
  <h1>Fence Dweller</h1>

  <h3>Share a dilemma and let the tweetosphere solve it for you.</h3>
<br>
<%= link_to image_tag("fenced.png", alt: "Fenced"), 'http://www.fencedweller.com' %>
<br>
  <%= link_to "Get Started", static_pages_options_path, class: "btn btn-large btn-primary" %>
</div>



