<br>
<br>
<center>
<h1>Fence Dweller</h1>
<br>
<h3><i>Need a decision made?<br>Share the dilemma and let the tweetosphere solve it for you.</i></h3>
<br>
<%= link_to "Get Started", static_pages_options_path  %>

</center>
</body>

