<div class="center hero-unit">
  <h1>Fence Dweller</h1>

  <h3>Share a dilemma and let the tweetosphere solve it for you.</h3>
<br>
<%= link_to image_tag("fenced.png", alt: "Fenced"), 'http://www.fencedweller.com' %>
<br>
  <%= link_to "Get Started", new_dilemma_path, class: "btn btn-large btn-primary" %>
</div>





