<br>
<br>
<center>
<h1>Fence Dweller</h1>
<br>
<h3><i>What do you want to do today?</i></h3>
<br>
<%= link_to "Tell us your dilemma", new_dilemma_path  %>
<br>
<br>
<%= link_to "See results for my dilemma", home_find_path  %>
<br>
<br>

<br>
</center>
</body>

