<%= form_tag dilemma_response_path, :method => 'get' do %>
			<% end %>

<table class="table table-bordered table-condensed" >
  <tr>
    <td><% if current_user.admin? %>
			    User
			  <% end %></td>
    <th>When</th>
    <th><center>Vote</center></th>
  </tr>

<% @responses.each do |response| %>
  <tr>
	<td>	<% if current_user.admin? %>
			    <%= (response).user %>
			  <% end %></td>
    <td><%= l (response).created_at, :format => :short %></td>
    <td><center><%= (response).yes %></center></td>
  </tr>
<% end %>

</table>
