<% provide(:title, 'Thank for voting') %>
<br><br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

<h1>Thanks<br>for voting</h1>
    
</div>
    <div class="span6">
<br>
<br>
<h3>Would you like to create your own dilemma? <br><br>Sign up now and get going.</h3>
<br>
<br>
<br>
<%= link_to "Sign Me Up", new_user_path, :class =>'btn btn-info' %>
<br>
<br>
</body>
</div>
</div>
