<li>
	<span class="status"><%= dilemma.status %></span> | 
  <span class="dilemma"><%= dilemma.dilemma %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(dilemma.created_at) %> ago.
  </span>
</li>
