<% provide(:title, 'Find') %>
<br><br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
	
<h1>Search</h1>
    
</div>
    <div class="span6">
  	<body class.lead><br>
	
The best way to find a Dilemma is by following a Twitter link.
<br>
But if you know the Dilemmas id number you can search for it here:<br>
<br>
<div id="search">
    <%= render :partial => 'search' %>
<br>
<br>
<click Dilemma to see further details>
    <%= render :partial => 'search_results' %>

</div>

</div>
</div>
</div>